.card{
    width: 200px;
    height: 200px;
    background-color: #212111;
    border-radius: 10px;
    color: whitesmoke;
    margin: auto;
    /* padding: 10px; */
    display: grid;
    place-items: center;
}